/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Forms Style Sheet

   Filename: sb_forms.css

*/

/* Login Form Layout Styles */

legend {
   background-color: rgba(206,141,56,0.7);
   color: rgba(255,255,255,0.7);
   font-size: 0.9em;
   border-radius: 10px;
   margin-bottom: 10px;
   padding: 8px;
   width: 100%;
}

/* Custom elements*/
#error_space {
   font-size: large;
   color: red;
   text-align: center;
}

#info {
   translate: 5% 200%;
   font-size: larger;
   text-align: center;
   color: red;
}

footer {
   position: fixed;
   bottom: 0px;

}

form {
   display: grid;
   width: inherit;
   grid-template-columns: 30% 30%;
   row-gap: 2%;
   margin-bottom: 250px;
}

form#login {
   float: right;
}


form#login input {
   margin: 10px;
}

/* Form Layout Styles */

form#payment {
   background-color: rgba(206, 141, 56, 0.1);
}

fieldset {
   border: none;
   width: 100%;
}



/* Input and Label Styles */

label {
   display: block;
   float: left;
   clear: left;
   font-size: 0.9em;
   margin-bottom: 10px;
   margin-right: 10px;
   width: 180px;
   text-align: right;
}

form#payment input, form#payment select {
   display: block;
   float: left;
}




/* Submit Button Styles */

button {
   background: transparent;
   border: none;
   display: block;
   margin: 5px auto;
}
